<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samuel.quickoffice.welpager"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/icon"
        android:label="ViewPagerIndicator Sample" >
        <activity android:name=".AtyFirstLoadWelcomePage"
			android:theme="@android:style/Theme.Light.NoTitleBar"            
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>